
.formWrapper{
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 5rem;
}
.formWrapper > form{
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #007bb6;
}
.inputsWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.input{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: azure;
    font-size: larger;
    padding: 2rem;
}
.input > label{
    padding: 0.4rem;
}
.input > input{
    max-width: 200px;
    min-height: 40px;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    outline: none;
    background: #e8e8e8;
    box-shadow: 5px 5px 17px #224a64,
                -5px -5px 17px #6e90e0;
    border: none;
    border-radius: 10px;
    transition: all .5s;
}
.input > input:focus{
    background: #e8e8e8;
    box-shadow: inset 5px 5px 17px #c8c8c8,
            inset -5px -5px 17px #ffffff;
}

.checkboxWrapper{
    color: azure;
    display: flex;
    padding:3rem;
    padding-left: 2rem;
}
.optionBoxesWrapper{
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
}

.buttonWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
}
.buttonWrapper > button{
    font-size: 1.2rem;
    padding: 1rem 2.5rem;
    border: none;
    outline: none;
    border-radius: 0.4rem;
    cursor: pointer;
    text-transform: uppercase;
    color: #000;
    font-weight: 700;
    transition: 0.6s;
    background: #e8e8e8;
    box-shadow: 5px 5px 17px #224a64,
                -5px -5px 17px #6e90e0;
}

.buttonWrapper > button:active{
    scale: 0.92;
}
.buttonWrapper > button:hover{
    background: #000;
    color: #fff; 
}
